.box1{
	background-color:red;
	height:50px;
	width:50px;
	order:5;
	margin:2px;
}
.box2{
	background-color:blue;
	height:50px;
	width:50px;
	order:6;
	margin:2px;
}
.box3{
	background-color:green;
	height:50px;
	width:50px;
	order:0;
	margin:2px;
}
.box4{
	background-color:green;
	height:50px;
	width:50px;
	order:1;
	margin:2px;
}
.box5{
	background-color:green;
	height:50px;
	width:50px;
	order:2;
	margin:2px;
}
.box6{
	background-color:green;
	height:50px;
	width:50px;
	order:3;
	margin:2px;
}
.box7{
	background-color:green;
	height:50px;
	width:50px;
	order:4;
	margin:2px;
}
.holder{
	display:flex;
	flex-wrap:wrap;
	width:350px;
	justify-content:space-between;
}
.holder2{
	display:flex;
	flex-wrap:wrap;
	width:350px;
	justify-content:space-between;
}
/* Your CSS Code here. */